@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --color-brand-yellow-light: #f3d03d;
  --color-brand-green: #004101;
  --color-black-transparent: #00000050;

  --spacing-header-height: 100px;
}
